.color2{
    color: #18bc9c;
}

/* intro */
.colorbox1text{
    font-size:27px;
}
.standoutText{
    color:#105852;
}

/* welcome */
.ul1{
    display: inline-block;
}
.ul1 > li{
    font-size:20px;
    text-align:left;
}

/* getting started */
.resourceLinks h3{
    margin-top:30px;
}
.resourceLinks li{
   font-size:20px;
}
.resourceLinks .buttonOnGreen{
   margin-top:15px;
   margin-bottom:15px;
}
.resourceLinks > ol > li > a:link{
    color: white;
    border-bottom: 1px white solid;
    border-bottom-style: dotted;
}
.resourceLinks > ol > li > a:visited{
    color: darkgreen;
    border-bottom: 1px white solid;
    border-bottom-style: dotted;
}
.resourceLinks > ol > li > a:hover{
    text-decoration: none;
    color: lightgreen;
    border-bottom: 1px lightgreen solid;
    border-bottom-style: solid;
}
.resourceLinks > ol > li > a:focus{
    text-decoration: none;
    color: white;
    border-bottom-style: solid;
}
.gettingstartedImg1{
    width: 170px;
    height: 170px;
}

/* faq */
.faqQ > p{
    color: #C47A00;
}
.faqA .myCTAonWhite{
   margin-top:15px;
   margin-bottom:15px;
}

/* about */
.flexContainer{
    display:flex;
    justify-content:center;
    align-items:center;
    height: 100%;
}
.flexContainer > div{
    /*font-family: 'Lobster', cursive;*/
    /*font-family: 'Bitter', serif;*/
    font-family: 'Lato', sans-serif;
}

/* other */
a.dotted:link{
    color: white;
    border-bottom: 1px white solid;
    border-bottom-style: dotted;
}
a.dotted:visited{
    color: darkgreen;
    border-bottom: 1px white solid;
    border-bottom-style: dotted;
}
a.dotted:hover{
    text-decoration: none;
    color: lightgreen;
    border-bottom: 1px lightgreen solid;
    border-bottom-style: solid;
}
a.dotted:focus{
    text-decoration: none;
    color: white;
    border-bottom-style: solid;
}

blockquote .ref {
    display: block;
    font-size: 80%;
    line-height: 1.42857143;
    color: #b4bcc2;
}









/* buttons */
.myCTA{
    border: 2px #105852 solid;
    font-size: 24px;
    border-radius:7px;
}
.myCTA:active{
    background-color: white;
    background-color: rgba(255,255,255, .5);
}
.myCTAhero{
    border: 1px white solid;
    background-color: white;
    background-color: rgba(255,255,255, .2);
    color:white;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px white solid;
    border-bottom: 1px rgba(255,255,255,.5) solid;
}
.myCTAhero:hover{
    border-color: initial;
}
.myCTAonWhite{
    background-color: #18bc9c;
    border-left:none;
    border-right:none;
    border-top:none;
}
.myCTAonWhite:hover{
    border-bottom: 2px #105852 solid;
}
.myCTAonWhite:active{
    background-color: #18bc9c;
}

.buttonOnGreen{
    background-color: white;
    background-color: rgba(255,255,255,.5);
    border-top: none;
    border-left: none;
    border-right: none;
}
.buttonOnGreen:active{
    border-bottom: 2px white solid;
}


/* bootstrap 3.3.7 adjustments */
.navbar-default {
    background-color: #2c3e50;
}
.navbar-default .navbar-nav>li>a {
    color: #ffffff;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #18bc9c;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #ffffff;
    background-color: #1a242f;
}
.navbar-default .navbar-brand {
    color: #ffffff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #18bc9c;
    background-color: transparent;
}
.btn-success:hover, .btn-success:focus, .btn-success.focus, .btn-success:active, .btn-success.active, .open>.dropdown-toggle.btn-success {
    color: #ffffff;
    background-color: #128f76;
}
.founderContainer{
    margin: 60px 0;
}
blockquote {
  background: transparent;
  border-left: 10px solid transparent;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
.myHeadline{
    margin-bottom: 5.6em;
    font-size:24px;
    line-height: 1.3;
}
.colorbox1text2{
    margin: 30px 0;
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    .contactBtn {
        font-size: 20px;
        width: 100%;
    }
    .contactBtnEmail{
        margin-top: 10px;
    }
    .herobg {
        background-image: url('../img/candidate-hero2-mobile-comp.jpg');
        height: 400px;
        background-size: cover;
        background-position: 90% 40%;
    }
}

/* iPhone 6 */ 
@media only screen and (min-width : 375px) {
    .myHeadline {
        font-size: 25px;
    }
}

/* iPhone 6+ */ 
@media only screen and (min-width : 414px) {
    .myHeadline {
        font-size: 31px;
        margin-bottom: 4.6em;
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

@media only screen and (min-width: 500px){
    .herobg {
        background-image: url('../img/candidate-hero2-comp.jpg');
        height: 600px;
        background-size: cover;
        background-position: 90% 40%;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .navbar-fixed-top .navbar-brand {
        font-size: 1.5em;
    }
    .herobg{
        height: 600px;
        background-position: 50%;
    }
    .basetext{
        max-width: 50%;
        margin: auto;
    }
    .contactBtn {
        font-size: 22px;
        width:47%;
    }
    .contactBtnEmail{
        margin-top: 0;
    }
    .myHeadline {
        font-size: 44px;
        line-height: 1.3;
        margin-bottom: 116px;
        max-width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    
    .navbar-brand {
        font-size: 2em;
    }
    .contactBtn {
        font-size: 24px;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1500px) {
    .herobg {
        background-image: url('../img/candidate-hero2-wide-comp.jpg');
        height: 600px;
        background-size: cover;
        background-position: 90% 40%;
    }
}